<div class="vf-grid">
  <div class="vf-body--text">

    {% if serverInfo.environment == "development" %}
    <code class="vf-code-example">
      <pre class="vf-code-example__pre">
⚠️ You're running the {{serverInfo.environment}} command.
      </pre>
    </code>
    {% endif %}

  </div>
</div>
